@import './components/components.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


.btn-container {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
